In [1]:
import pandas as pd 
import requests

In [2]:
# Output File (CSV)
filepath = "25cities.csv"

In [3]:
city_sample = pd.read_csv(filepath)
city_sample.head()

,city,city_ascii,state_id,state_name,county_fips,county_name,county_fips_all,county_name_all,lat,lng,population,density,source,military,incorporated,timezone,ranking,zips,id
0,Gig Harbor,Gig Harbor,WA,Washington,53053,Pierce,53053,Pierce,47.3352,-122.5968,9507,622,polygon,False,True,America/Los_Angeles,3,98332 98335,1840019855
1,Anacortes,Anacortes,WA,Washington,53057,Skagit,53057,Skagit,48.4878,-122.6292,17955,559,polygon,False,True,America/Los_Angeles,3,98221,1840018366
2,Omak,Omak,WA,Washington,53047,Okanogan,53047,Okanogan,48.4228,-119.5159,8130,478,polygon,False,True,America/Los_Angeles,3,98841,1840019761
3,Loon Lake,Loon Lake,WA,Washington,53065,Stevens,53065,Stevens,48.0685,-117.6298,784,92,polygon,False,False,America/Los_Angeles,3,99148,1840023998
4,Sauk City,Sauk City,WI,Wisconsin,55111,Sauk,55111,Sauk,43.2721,-89.7307,3468,905,polygon,False,True,America/Chicago,3,53583,1840002729

In [4]:
urls = []
for index,row in city_sample.iterrows(): 
    lat = city_sample.lat[index]
    lon = city_sample.lng[index]
    
    query_url = f'https://api.teleport.org/api/locations/{lat}%2C%20{lon}/'
    
    urls.append(query_url)

In [5]:
urls

['https://api.teleport.org/api/locations/47.3352%2C%20-122.5968/',
 'https://api.teleport.org/api/locations/48.4878%2C%20-122.6292/',
 'https://api.teleport.org/api/locations/48.4228%2C%20-119.5159/',
 'https://api.teleport.org/api/locations/48.0685%2C%20-117.6298/',
 'https://api.teleport.org/api/locations/43.2721%2C%20-89.7307/',
 'https://api.teleport.org/api/locations/44.8476%2C%20-88.3592/',
 'https://api.teleport.org/api/locations/35.9939%2C%20-106.0358/',
 'https://api.teleport.org/api/locations/35.37%2C%20-105.4441/',
 'https://api.teleport.org/api/locations/32.569%2C%20-97.1211/',
 'https://api.teleport.org/api/locations/30.3006%2C%20-97.7517/',
 'https://api.teleport.org/api/locations/28.4772%2C%20-81.3369/',
 'https://api.teleport.org/api/locations/26.6195%2C%20-81.8303/',
 'https://api.teleport.org/api/locations/37.7562%2C%20-122.443/',
 'https://api.teleport.org/api/locations/32.7936%2C%20-96.7662/',
 'https://api.teleport.org/api/locations/27.9088%2C%20-82.7712/',
 'https://api.teleport.org/api/locations/40.7834%2C%20-73.9662/',
 'https://api.teleport.org/api/locations/34.0786%2C%20-118.4021/',
 'https://api.teleport.org/api/locations/34.0786%2C%20-118.4021/',
 'https://api.teleport.org/api/locations/29.4658%2C%20-98.5254/',
 'https://api.teleport.org/api/locations/29.8736%2C%20-97.93799999999999/',
 'https://api.teleport.org/api/locations/32.8312%2C%20-117.1225/',
 'https://api.teleport.org/api/locations/47.6211%2C%20-122.3244/',
 'https://api.teleport.org/api/locations/33.7627%2C%20-84.4225/',
 'https://api.teleport.org/api/locations/39.1239%2C%20-94.5541/',
 'https://api.teleport.org/api/locations/29.7869%2C%20-95.3905/']

In [30]:
city_name = []
Housing = []
Cost_of_Living = []
Startups = []
Venture_Capital = []
Travel_Connectivity = []
Commute = []
Business_Freedom = []
Safety = []
Healthcare = []
Education = []
Environmental_Quality = []
Economy = []
Taxation = []
Internet_Access = []
Leisure = []
Tolerance = []
Outdoors = []


for url in urls:
    try:
        response = requests.get(url).json()

        geoIDURL = response["_embedded"]["location:nearest-cities"][0]["_links"]["location:nearest-city"]["href"]
        geoResponse = requests.get(geoIDURL).json()

        slugURL = geoResponse['_links']["city:urban_area"]["href"]
        slugResponse = requests.get(slugURL).json()
        city_name.append(slugResponse["name"])

        detailURL = slugResponse["_links"]["ua:scores"]["href"]
        detailResponse = requests.get(detailURL).json()
        categories = detailResponse["categories"]
        Housing.append(categories[0]["score_out_of_10"])
        Cost_of_Living.append(categories[1]["score_out_of_10"])
        Startups.append(categories[2]["score_out_of_10"])
        Venture_Capital.append(categories[3]["score_out_of_10"])
        Travel_Connectivity.append(categories[4]["score_out_of_10"])
        Commute.append(categories[5]["score_out_of_10"])
        Business_Freedom.append(categories[6]["score_out_of_10"])
        Safety.append(categories[7]["score_out_of_10"])
        Healthcare.append(categories[8]["score_out_of_10"])
        Education.append(categories[9]["score_out_of_10"])
        Environmental_Quality.append(categories[10]["score_out_of_10"])
        Economy.append(categories[11]["score_out_of_10"])
        Taxation.append(categories[12]["score_out_of_10"])
        Internet_Access.append(categories[13]["score_out_of_10"])
        Leisure.append(categories[14]["score_out_of_10"])
        Tolerance.append(categories[15]["score_out_of_10"])
        Outdoors.append(categories[16]["score_out_of_10"])
        
    except Exception as e: 
        print(e)

'city:urban_area'
'city:urban_area'
'city:urban_area'
'city:urban_area'
'city:urban_area'
'city:urban_area'
'city:urban_area'
'city:urban_area'
'city:urban_area'

In [29]:
categories[0]["score_out_of_10"]

5.224500000000001

{'color': '#f3c32c', 'name': 'Housing', 'score_out_of_10': 5.224500000000001}

2.291

In [25]:
city_name

['Seattle',
 'Dallas',
 'Austin',
 'Orlando',
 'San Francisco Bay Area',
 'Dallas',
 'Tampa Bay Area',
 'New York',
 'Los Angeles',
 'Los Angeles',
 'San Antonio',
 'San Diego',
 'Seattle',
 'Atlanta',
 'Kansas City',
 'Houston']

In [31]:
Housing

[2.291,
 5.259000000000001,
 4.3345,
 5.778499999999999,
 1.0,
 5.259000000000001,
 5.696,
 1.0,
 1.5274999999999999,
 1.5274999999999999,
 6.402000000000001,
 2.9335,
 2.291,
 4.9755,
 6.7075,
 5.224500000000001]

In [32]:
df = pd.DataFrame()
df['City'] = city_name
df['Housing'] = Housing
df['Cost_of_Living'] = Cost_of_Living
df['Startups'] = Startups
df['Venture_Capital'] = Venture_Capital
df['Travel_Connectivity'] = Travel_Connectivity
df['Commute']= Commute 
df['Business_Freedom'] = Business_Freedom
df['Safety'] = Safety
df['Healthcare'] = Healthcare
df['Education'] = Education
df['Environmental_Quality'] = Environmental_Quality
df['Economy'] = Economy
df['Taxation'] = Taxation
df['Internet_Access']= Internet_Access 
df['Leisure'] = Leisure
df['Tolerance'] = Tolerance
df['Outdoors'] = Outdoors

In [33]:
df

,City,Housing,Cost_of_Living,Startups,Venture_Capital,Travel_Connectivity,Commute,Business_Freedom,Safety,Healthcare,Education,Environmental_Quality,Economy,Taxation,Internet_Access,Leisure,Tolerance,Outdoors
0,Seattle,2.2910,3.790,8.3670,7.551,2.8845,4.52375,8.671000,5.6365,6.309667,5.7145,7.56025,6.5145,4.7720,4.9405,8.1155,8.0895,7.2095
1,Dallas,5.2590,6.091,7.9395,4.916,4.7465,4.47050,8.671000,4.3390,6.086667,4.2840,6.69300,6.5145,4.7720,6.4610,7.1685,5.2940,4.5020
2,Austin,4.3345,5.355,9.2360,6.939,1.8515,4.33050,8.671000,5.0690,6.281667,5.3150,7.03075,6.5145,4.7720,9.0490,6.6980,6.7895,3.9090
3,Orlando,5.7785,5.284,6.5975,2.464,3.7735,4.33875,8.671000,4.1340,5.967333,3.6245,6.67600,6.5145,4.7720,4.8860,5.9295,5.7840,4.4930
4,San Francisco Bay Area,1.0000,2.618,10.0000,10.000,3.6545,4.68725,8.671000,5.7155,6.449000,8.6245,6.48150,6.5145,4.4880,5.6055,9.4070,8.0125,7.0140
5,Dallas,5.2590,6.091,7.9395,4.916,4.7465,4.47050,8.671000,4.3390,6.086667,4.2840,6.69300,6.5145,4.7720,6.4610,7.1685,5.2940,4.5020
6,Tampa Bay Area,5.6960,5.253,6.3470,3.778,2.9055,1.40075,8.671000,4.7065,6.573000,4.2805,7.37875,6.5145,4.7720,7.1950,6.4340,5.3600,5.4970
7,New York,1.0000,2.342,10.0000,10.000,6.6750,5.51925,8.671000,7.0220,6.105333,8.0935,5.23375,6.5145,3.9205,7.0985,10.0000,6.7125,5.7475
8,Los Angeles,1.5275,4.556,10.0000,10.000,3.9585,3.67700,8.574667,5.7050,6.027333,8.6245,4.73150,6.5145,4.7675,5.4965,9.1960,6.9600,6.7470
9,Los Angeles,1.5275,4.556,10.0000,10.000,3.9585,3.67700,8.574667,5.7050,6.027333,8.6245,4.73150,6.5145,4.7675,5.4965,9.1960,6.9600,6.7470
10,San Antonio,6.4020,6.683,5.3560,3.530,1.6815,4.96475,8.671000,4.2165,6.307000,4.1520,6.20150,6.5145,4.7720,8.0745,6.6955,6.2540,3.4185
11,San Diego,2.9335,5.156,8.3505,8.595,2.6220,4.40975,8.671000,6.9330,6.519667,5.4575,7.26725,6.5145,4.4880,5.9990,8.2100,8.5395,6.3960
12,Seattle,2.2910,3.790,8.3670,7.551,2.8845,4.52375,8.671000,5.6365,6.309667,5.7145,7.56025,6.5145,4.7720,4.9405,8.1155,8.0895,7.2095
13,Atlanta,4.9755,5.241,8.8350,7.257,5.2915,3.89775,8.671000,2.6725,6.023333,6.4570,5.81775,6.5145,4.2040,6.4805,7.7655,4.0620,5.0095
14,Kansas City,6.7075,5.844,2.7940,3.538,1.8690,1.97250,8.671000,4.4225,6.449667,3.6245,7.97650,6.5145,4.0620,8.1885,6.6745,5.0205,4.1615
15,Houston,5.2245,6.162,7.9345,4.474,4.3385,4.03075,8.671000,3.1290,6.379000,4.9280,5.30450,6.5145,4.7720,6.2485,7.1440,5.3400,5.3860

In [34]:
df.to_csv('ScoreInfo.csv')